
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');


:root {
    /*--text: #eee0e6;*/
    --text: black;
    --background: #0e080b;
    --card-background: #eee0e6;
    --primary: #cca1b3;
    --secondary: #3c6e5c;
    --accent: #7a92b7;
}

body {
    margin: 0;
    font-family: "JetBrains Mono", sans-serif;
}

.ForeGround {
    display: flex;
    flex-direction: column;
}

.ColumnContainer {
    background-color: transparent;
}

.CardColumn {
    float: left;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: safe center;
    align-content: flex-start;
}

.MainColumn {
    /*grid-column: 1/2;*/
    /*width: 50%;*/
}

.SideColumn {
    /*grid-column: 2/2;*/
    /*width: 20%;*/
}

.TextCard {
    color: var(--text);
    border: 0.2em solid var(--accent);
    filter: drop-shadow(0.3em 0.3em 0em var(--accent));
    background-color: var(--card-background);
    margin: 1em;
    border-radius: 1.2em;
}

.TitleText {
    text-align: center;
    /*height: 10dvh;*/
    padding-left: 0.8em;
    padding-right: 0.8em;
    font-family: "Comfortaa", sans-serif;
}

.MainText {
    text-align: justify;
    /*padding: 1em;*/
    padding-left: 1.5em;
    padding-right: 1.5em;
}

.ContactText {
    text-align: justify;
    padding: 0.5em;
}

.PalsText {
    padding: 0.5em;
}

.CanvasContainer {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -100;
    width: 100%;
    height: 100%;
    /*background-color: #0e080b;*/
}

.hero {
    height: 100dvh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.top {
    display: flex;
    flex-direction: row-reverse;
}

.bottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
